<nav class="wpfk--site-nav">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Search</a></li>
    </ul>    
</nav>
<img class="wpfk--hero-image" src="/images/hero.jpg" />
<section class="wpfk--site-description">
    <p>The site that helps parents find great things to do with the kids, big and small, from baby classes to babycinos and softplay to sunny resorts. Everything counts.</p>
</section>
<section class="wpfk--discover-box">
    <h1>What’s new this week</h1>
    <p>Discover new, inspiring places close to home.</p>
    <div class="wpfk--discover-image-boxes">
        <figure class="wpfk--overlayed-image">
            <img src="/images/kid-tall.jpg" alt="Tall kid" />
            <figcaption><a href="#">Baby group</a></figcaption>
        </figure>
        <figure class="wpfk--overlayed-image">
            <img src="/images/kids-face.jpg" alt="Kid's face'" />
            <figcaption><a href="#">Soft play</a></figcaption>
        </figure>
        <figure class="wpfk--overlayed-image">
            <img src="/images/kids-bench.jpg" alt="Kids sitting on a bench" />
            <figcaption><a href="#">Day out</a></figcaption>
        </figure>
    </div>  
    <p><a class="wpfk--button-link" href="#">See all new this week</a></p>    
</section>
<section class="wpfk--discover-box">
    <h1>Browse popular characters</h1>
    <p>Discover new, inspiring places close to home.</p>
    <div class="wpfk--discover-image-boxes">
        <figure class="wpfk--overlayed-image">
            <img src="/images/kid-tall.jpg" alt="Tall kid" />
            <figcaption><a href="#">Baby group</a></figcaption>
        </figure>
        <figure class="wpfk--overlayed-image">
            <img src="/images/kids-face.jpg" alt="Kid's face'" />
            <figcaption><a href="#">Soft play</a></figcaption>
        </figure>
        <figure class="wpfk--overlayed-image">
            <img src="/images/kids-bench.jpg" alt="Kids sitting on a bench" />
            <figcaption><a href="#">Day out</a></figcaption>
        </figure>
    </div>  
    <p><a class="wpfk--button-link" href="#">See more</a></p>    
</section>
<footer class="wpfk--footer">
    <section class="wpfk--footer-container">
        <img src="/images/logo.png" alt="WPFK" width="171" />
        <section>
            <h1>Wiki places for kids</h1>
            <ul>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Terms and conditions</a></li>
                <li><a href="#">Registered company number</a></li>
            </ul>
        </section>
        <section>
            <h1>Be in the know</h1>
            <p>Sign up for lorem ipsum dolor sit amet</p>
            <form action="#">
                <input type="email" placeholder="you@email.com" /><input type="submit" value="Join" />
            </form>
        </section>
    </section>
</footer>