{{!< default}}
<h1>Welcome to Wiki Places for Kids</h1>
<p><strong>LAUNCHING MAY '16</strong></p>
<p>The site that helps parents find great things to do with the kids, big and small, from baby classes to babycinos and softplay to sunny resorts. Everything counts.</p>
<p>Where do you go when you leave the house for a bit of bonding???</p>
<p><a href="/recommend">Recommend a Venue</a></p>
