$brand-purple: #e53cad;
$brand-orange: #e29f00;
$brand-light-blue: #008dcd;
$brand-dark-blue: #002655;
$brand-turqoise: #2eaaa5;
$brand-grey: #454545;

$page-background-color: #f5f5f5;
$content-background-color: #fff;
$content-foreground-color: #000;

$max-page-width: 1200px;
$max-content-width: 820px;
$grids: 12;
$gutter: 10px;

$base-font-size-px: 16;

$heading-font-size-px: 36;

$subheading-font-size-px: 24;
$subheading-font-colour: $brand-grey;

$nav-link-colour: $brand-grey;
$nav-link-underline: $brand-purple;

$tablet-breakpoint: 800px;

@function em-calc($pixel-size, $base: $base-font-size-px) {
    @return #{$pixel-size/$base}em;
}

@font-face {
    font-family: LatoBold;
    src:
        url('/fonts/LatoLatin-Bold.woff2') format('woff2'),
        url('/fonts/LatoLatin-Bold.woff') format('woff')
}

@font-face {
    font-family: LatoRegular;
    src:
        url('/fonts/LatoLatin-Regular.woff2') format('woff2'),
        url('/fonts/LatoLatin-Regular.woff') format('woff')
}

@font-face {
    font-family: FabFeltBold;
    src:
        url('/fonts/fabfeltscript-bold.woff2') format('woff2'),
        url('/fonts/fabfeltscript-bold.woff') format('woff')
}

@font-face {
    font-family: PacificoRegular;
    src:
        url('/fonts/Pacifico.ttf') format('truetype');
}

html, body {
    background: $page-background-color;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-size: #{$base-font-size-px + 'px'};
    font-family: LatoRegular, Helvetica, Arial, sans-serif;
}

input[type='number'] {
    background: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 15px 20px;
    font-family: LatoRegular, Helvetica, Arial, sans-serif;
    font-size: em-calc(16);
    display: block;
    box-sizing: border-box;
    width: 100%;
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

article[role='main'] {
    width: 100%;
    margin: 0 auto;
}

.alert {
    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &.alert-danger li {
        color: red;
    }
}

%container {
    max-width: $max-content-width;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.wpfk--coming-soon {
    @extend %container;
}

.wpfk--recommend-link {
    position: absolute;
    top: 5%;
    right: 2%;
    font-family: LatoBold, Arial, Helvetica, sans-serif;
    font-size: em-calc(14);
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.2em;
    background: $brand-purple;
    border: 1px solid $brand-purple;
    border-radius: 2px;
    padding: 1% 2%;

    &:hover,
    &:focus,
    &:active {
        background: #fff;
        color: $brand-purple;
        transition: 0.2s background;
    }

    @media (max-width: $tablet-breakpoint) {
        position: static;
        display: block;
        margin-top: -20px;
        border-radius: 0;
    } 
}

.wpfk--site-header {
    @extend %container;
    margin-top: 20px;
}

.wpfk--messages {
    @extend %container;
}

.wpfk--content-box {
    @extend %container;
    background: $content-background-color;
    padding: 15px 40px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
}

h1 {
    font-family: LatoBold, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: em-calc($heading-font-size-px);
    color: $brand-turqoise;
    margin: 1%;
}

h2 {
    font-family: LatoBold, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: em-calc($subheading-font-size-px);
    color: $subheading-font-colour;
}

p {
    font-family: LatoRegular, Helvetica, Arial, sans-serif;
    font-size: em-calc(16);
    color: $content-foreground-color;
}

textarea,
input[type='text'],
input[type='email'],
input[type='number'],
input[type='url'],
input[type='tel'] {
    background: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 15px 20px;
    margin: 1% 0;
    font-family: LatoRegular, Helvetica, Arial, sans-serif;
    font-size: em-calc(16);
    display: block;
    box-sizing: border-box;
    width: 100%;
}

textarea:focus,
input[type='text']:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='url']:focus,
input[type='tel']:focus {
    font-size: em-calc(16);
    background: #f5f5f5;
}

fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
    display: block;
}

.wpfk--site-nav {
    @extend %container;
    font-family: LatoBold, Helvetica, Arial, Sans-Serif;
    font-size: em-calc(16px);

    ul {
        position: relative;
        display: block;
        width: 100%;
        list-style: none;
        margin: 0 0 20px 0;
        padding: 0;
        top: -20px;

        @media (max-width: $tablet-breakpoint) {
            top: 0;
        }
    }

    li {
        width: 40%;
        display: inline-block;
        margin: 0;
        padding: 0;

        &:first-child,
        &:last-child {
            width: 5%;

            @media (max-width: $tablet-breakpoint) {
                width: auto;
            }
        }

        @media (max-width: $tablet-breakpoint) {
            width: auto;
            padding: 0 3%;
        }
    }

    a {
        color: $nav-link-colour;
        text-transform: uppercase;
        text-decoration: none;
        padding-bottom: 5px;
        letter-spacing: 0.2em;

        &:hover,
        &:active,
        &:focus {
            border-bottom: 2px solid $nav-link-underline;
        }
    }
}

.wpfk--hero-image {
    width: 100%;
    margin: 0 auto;
}

.wpfk--form-intro {
    @extend %container;
    max-width: 580px;
    padding: 0 10%;
}

.wpfk--site-description {
    @extend %container;
    max-width: 780px;

    p {
        font-family: LatoRegular, Arial, Helvetica, sans-serif;
        font-size: em-calc(20);
        line-height: em-calc(36);
    }
}

.wpfk--discover-box {
    @extend %container;
    max-width: 100%;
    margin: 5% 0;

    h1 {
        font-family: LatoRegular, Arial, Helvetica, sans-serif;
        font-size: em-calc(32);
        color: $content-foreground-color;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }

    .wpfk--discover-image-boxes {
        display: block;
        width: 100%;
        padding: 5% 0;
    }
}

.wpfk--overlayed-image {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 25%;
    margin: 0 2%;
    padding: 0;

    @media (max-width: $tablet-breakpoint) {
        display: block;
        margin: 2% auto;
        width: 80%;
        height: 80%;
    }

    img {
        width: 100%;
        height: 100%;
    }

    a {
        display: block;
        position: absolute;
        padding-top: 35%;
        box-sizing: border-box;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-family: PacificoRegular, Arial, Helvetica, sans-serif;
        font-size: em-calc(42);
        color: $content-background-color;
        text-align: center;
        text-decoration: none;
        
        &:hover,
        &:focus,
        &:active {
            background: rgba($brand-turqoise, 0.8);
            transition: 0.2s background;
        }
    }
}

.wpfk--button-link {
    font-family: LatoBold, Arial, Helvetica, sans-serif;
    font-size: em-calc(14);
    text-decoration: none;
    text-transform: uppercase;
    color: $brand-turqoise;
    letter-spacing: 0.2em;
    border: 1px solid $brand-turqoise;
    border-radius: 2px;
    padding: 1% 2%;

    &:hover,
    &:focus,
    &:active {
        background: $brand-turqoise;
        color: #fff;
        transition: 0.2s background;
    }
}

.wpfk--footer {
    background: $brand-turqoise;


    .wpfk--footer-container {
        @extend %container;
        max-width: 1200px;
        padding: 5% 0;
    
        img {
            display: inline-block;
        }

        section {
            display: inline-block;
            width: 25%;
            vertical-align: top;
            padding: 0 0 0 10%;

            @media (max-width: $tablet-breakpoint) {
                display: block;
                width: 80%;
            }

            h1 {
                font-family: LatoBold, Arial, Helvetica, sans-serif;
                font-size: em-calc(14);
                text-transform: uppercase;
                letter-spacing: 0.2em;
                color: #fff;
                text-align: left;
            }

            p, li, a {
                font-family: LatoRegular, Arial, Helvetica, sans-serif;
                font-size: em-calc(14);
                color: rgba(#fff, 0.7);
                text-align: left;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                text-align: left;

                a {
                    text-decoration: none;
                }
            }

            input[type='email'] {
                width: 70%;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                display: inline-block;
            }

            input[type='submit'] {
                width: 30%;
                box-sizing: border-box;
                background: #f5f5f5;
                border-radius: 5px;
                border: 1px solid #ddd;
                padding: 15px 20px;
                margin: 1% 0;
                font-family: LatoRegular, Helvetica, Arial, sans-serif;
                font-size: em-calc(16);
                display: inline-block;
                box-sizing: border-box;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

.wpfk--form-thank-you {

    h1 {
        font-size: em-calc(30);
        color: #454545;
    }
}

.venueSearch {
    position: relative;

    input[type="text"] {
        background: #f5f5f5 url(/images/powered_by_google_on_white_hdpi.png) no-repeat 97% 50%;
        background-size: 144px 18px;
        outline: none;

        @media (max-width: $tablet-breakpoint) {
            padding-bottom: 10%;
            background-position: 97% 80%;
        }
    }

    .venueResults {
        position: absolute;
        top: 51px;
        padding: 0;
        margin: 0;
        font-family: LatoRegular, Helvetica, Arial, sans-serif;
        font-size: em-calc(16);
        display: none;
        box-sizing: border-box;
        width: 100%;
        list-style: none;

        li {
            margin: 0;
            padding: 15px 20px;
            background: #f5f5f5;
            border-color: #ddd;
            border-style: solid;
            border-width: 0 1px 0 1px;
            color: #666;
            display: block;
            cursor: pointer;

            &:hover,
            &:focus {
                background: $brand-purple;
                color: #fff;
                outline: none;
            }

            &:first-child {
                border-radius: 5px 5px 0 0;
                border-top-width: 1px;
            }

            &:last-child {
                border-radius: 0 0 5px 5px;
                border-bottom-width: 1px;
            }
        }
    }
}

.wpfk--form__checkbox-container {
    display : flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0;
    padding: 0;

    li {
        display: block;
        margin: 15px 0;
        padding: 0;
        flex: 0 0 33%;
        min-width: 33%;
        list-style: none;

        @media (max-width: $tablet-breakpoint) {
            flex: 0 0 100%;
        }
    }

    input[type='checkbox'] {
        display: none;

        & + label {
            font-size: em-calc(14);
            cursor: pointer;
            color: #999;

            &::selection,
            &::moz-selection {
                color: #999;
                background: transparent;
            }
        }

        & + label::before {
            content: " ";
            display: inline-block;
            vertical-align: middle;
            width: 25px;
            height: 25px;
            background: #f5f5f5 url(/images/tick-white.svg) no-repeat 50% 50%;
            background-size: 10px 10px;
            border: 0 none;
            padding: 0;
            margin: 0 15px 0 0;
            box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.24);
        }

        &:checked + label::before {
            background: #c63e8a url(/images/tick-white.svg) no-repeat 50% 50%;
            background-size: 10px 10px;
        }
    }
}

.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.wpfk--form__rating-container:not(old) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: 25px;
    overflow: hidden;

    & > input[type='radio'] {
        position: absolute;
        left: -9999px;
        opacity: 0;
    }

    & > label {
        display: block;
        flex: 0 0 25px;
        margin: 0 16px 0 0;
        background: url('/images/star-outline.svg');
        background-size: contain;
        cursor: pointer;

        &:before {
            content: "";
            display: block;
            width: 25px;
            height: 25px;
            background: url('/images/star-filled.svg');
            background-size: contain;
            opacity: 0;
            transition: opacity 0.2s linear;
        }
    }

    & > label:hover:before,
    & > label:hover ~ label:before,
    & > :checked ~ label:before{
        opacity : 1;
    }
}

.wpfk--form__prices-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;

    li {
        display: block;
        margin: 15px 5%;
        padding: 0;
        flex: 0 0 20%;
        list-style: none;
    }

    .wpfk--form__price-wide {
        flex: 0 0 80%;
    }

    label {
        font-family: LatoBold, Helvetica, Arial, Sans-serif;
        font-size: em-calc(14);
        display: block;
    }
}

.wpfk--form__opening-container {
    margin: 0;
    padding: 0;

    .wpfk--form__opening-day-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;

        li {
            flex: 0 0 20%;

            @media (max-width: $tablet-breakpoint) {
                flex: 0 0 30%
            }
        }
    }

    li {
        display: block;
        margin: 15px 5%;
        padding: 0;
        list-style: none;

        @media (max-width: $tablet-breakpoint) {
            margin: 15px 1%;
        }
    }

    input[type='checkbox'] {
        display: none;

        & + label {
            font-size: em-calc(14);
            cursor: pointer;
            color: #999;
            white-space: nowrap;

            @media (max-width: $tablet-breakpoint) {
                white-space: normal;
            }

            &::selection,
            &::moz-selection {
                color: #999;
                background: transparent;
            }
        }

        & + label::before {
            content: " ";
            display: inline-block;
            vertical-align: middle;
            width: 25px;
            height: 25px;
            background: #f5f5f5 url(/images/tick-white.svg) no-repeat 50% 50%;
            background-size: 10px 10px;
            border: 0 none;
            padding: 0;
            margin: 0 15px 0 0;
            box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.24);

            @media (max-width: $tablet-breakpoint) {
                display: block;
            }
        }

        &:checked + label::before {
            background: #c63e8a url(/images/tick-white.svg) no-repeat 50% 50%;
            background-size: 10px 10px;
        }
    }
}

.wpfk--form__your-details {
    margin: 0 auto;
    padding: 0 20px;
    background: #f5f5f5;

    h2 {
        font-family: FabFeltBold;
        font-weight: normal;
        font-size: em-calc(34);
        color: $brand-purple;
        text-align: center;
        padding: 15px 0;
    }

    input[type='text'],
    input[type='number'],
    input[type='email'] {
        margin: 15px auto;
        background: #fff;
    }

    .wpfk--form-input--child {
        margin: 0 auto;

        input {
            margin: 0;
            padding: 15px 4%;
            width: 48%;
            display: inline-block;

            & + input {
                float: right;
            }
        }
    }

    .wpfk--form-agree {
        margin: 0 auto;
        max-width: 480px;

        li {
            flex: none;
            width: 100%;

            @media (max-width: $tablet-breakpoint) {
                text-align: right;
            }
        }

        label {
            overflow: hidden;
            white-space: normal;
        }
    }
}

.wpfk--form-actions {
    display: block;
}

.wpfk--form__submit-button {
    font-family: LatoBold, Arial, Helvetica, sans-serif;
    font-size: em-calc(18);
    color: #fff;
    background: $brand-purple;
    padding: 20px 40px;
    margin: 15px auto;
    display: block;
    border: 1px solid $brand-purple;
    border-radius: 5px;
    cursor: pointer;
}

a.wpfk--form__submit-button {
    display: inline-block;
    text-decoration: none;
}

.js-enabled {
    .wpfk--form-collapse {
        background: #fff;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin: 15px -15px;
        padding: 15px 15px;

        h3 {
            cursor: pointer;
            margin: 0;

            &:before {
                content: "▼";
                float: right;
                text-align: right;
                vertical-align: top;
            }
        }

        & .wpfk--form-collapse--more {
            max-height: 0;
            overflow: hidden;
            margin: 0;

            -webkit-transition: max-height 0.5s;
            -moz-transition: max-height 0.5s;
            transition: max-height 0.5s;
        }

        &.wpfk--form-collapse--expanded {
            & h3:before {
                content: "▲";
            }

            .wpfk--form-collapse--more {
                max-height: 1000px;
            }
        }
    }
}