$brand-purple: #c63e8a;
$brand-orange: #e29f00;
$brand-light-blue: #008dcd;
$brand-dark-blue: #002655;
$brand-turqoise: #009b95;

$page-background-color: #f5f5f5;
$content-background-color: #fff;

$max-page-width: 1200px;
$max-content-width: 820px;
$grids: 12;
$gutter: 10px;

$base-font-size-px: 16;

$heading-font-size-px: 36;

$subheading-font-size-px: 24;
$subheading-font-colour: #454545;

@function em-calc($pixel-size, $base: $base-font-size-px) {
    @return #{$pixel-size/$base}em;
}

@font-face {
    font-family: LatoBold;
    src:
        url('/fonts/LatoLatin-Bold.woff2') format('woff2'),
        url('/fonts/LatoLatin-Bold.woff') format('woff')
}

@font-face {
    font-family: LatoRegular;
    src:
        url('/fonts/LatoLatin-Regular.woff2') format('woff2'),
        url('/fonts/LatoLatin-Regular.woff') format('woff')
}

@font-face {
    font-family: FabFeltBold;
    src:
        url('/fonts/fabfeltscript-bold.woff2') format('woff2'),
        url('/fonts/fabfeltscript-bold.woff') format('woff')
}

html, body {
    background: $page-background-color;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-size: #{$base-font-size-px + 'px'};
    font-family: LatoRegular, Helvetica, Arial, sans-serif;
}

input[type='number'] {
    background: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 15px 20px;
    font-family: LatoRegular, Helvetica, Arial, sans-serif;
    font-size: em-calc(16);
    display: block;
    box-sizing: border-box;
    width: 100%;
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
    max-width: $max-content-width;
    margin: 20px auto;
    text-align: center;
}

.wpfk--content-box {
    background: $content-background-color;
    padding: 40px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
}

h1 {
    font-family: LatoBold, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: em-calc($heading-font-size-px);
    color: $brand-turqoise;
    margin: 1%;
}

h2 {
    font-family: LatoBold, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: em-calc($subheading-font-size-px);
    color: $subheading-font-colour;
}

p {
    font-family: LatoRegular, Helvetica, Arial, sans-serif;
    font-size: em-calc(16);
    color: #999;
}

textarea,
input[type='text'],
input[type='email'],
input[type='number'],
input[type='url'],
input[type='tel'] {
    background: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 15px 20px;
    margin: 1% 0;
    font-family: LatoRegular, Helvetica, Arial, sans-serif;
    font-size: em-calc(16);
    display: block;
    box-sizing: border-box;
    width: 100%;
}

fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
    display: block;
}

.wpfk--form-intro {
    width: 580px;
    margin: 0 auto;
}

.wpfk--form-thank-you {

    h1 {
        font-size: em-calc(30);
        color: #454545;
    }
}

.wpfk--google-logo {
    float: right;
    margin: -5% 2% 0 0;
}

.venueSearch {
    position: relative;

    input[type="text"] {
        background: #f5f5f5 url(/images/powered_by_google_on_white_hdpi.png) no-repeat 97% 50%;
        background-size: 144px 18px;
        outline: none;
    }

    .venueResults {
        position: absolute;
        top: 51px;
        padding: 0;
        margin: 0;
        font-family: LatoRegular, Helvetica, Arial, sans-serif;
        font-size: em-calc(16);
        display: none;
        box-sizing: border-box;
        width: 100%;

        p {
            margin: 0;
            padding: 0;
            background: #f5f5f5;
            border-color: #ddd;
            border-style: solid;
            border-width: 0 1px 0 1px;

            a {
                color: #666;
                text-decoration: none;
                display: block;
                padding: 15px 20px;
                margin: 0;
            }

            &:hover {
                background: $brand-purple;

                a {
                    color: #fff;
                }
            }

            &:first-child {
                border-radius: 5px 5px 0 0;
                border-top-width: 1px;
            }

            &:last-child {
                border-radius: 0 0 5px 5px;
                border-bottom-width: 1px;
            }
        }

        a {

        }
    }
}

.wpfk--form__checkbox-container {
    display : flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0;
    padding: 0;

    li {
        display: block;
        margin: 15px 0;
        padding: 0;
        flex: 0 0 33%;
        min-width: 33%;
        list-style: none;
    }

    input[type='checkbox'] {
        display: none;

        & + label {
            font-size: em-calc(14);
            cursor: pointer;
            color: #999;
            white-space: nowrap;

            &::selection,
            &::moz-selection {
                color: #999;
                background: transparent;
            }
        }

        & + label::before {
            content: " ";
            display: inline-block;
            vertical-align: middle;
            width: 25px;
            height: 25px;
            background: #f5f5f5 url(/images/tick-white.svg) no-repeat 50% 50%;
            background-size: 10px 10px;
            border: 0 none;
            padding: 0;
            margin: 0 15px 0 0;
            box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.24);
        }

        &:checked + label::before {
            background: #c63e8a url(/images/tick-white.svg) no-repeat 50% 50%;
            background-size: 10px 10px;
        }
    }
}

.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.wpfk--form__rating-container:not(old) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: 25px;
    overflow: hidden;

    & > input[type='radio'] {
        position: absolute;
        left: -9999px;
        opacity: 0;
    }

    & > label {
        display: block;
        flex: 0 0 25px;
        margin: 0 16px 0 0;
        background: url('/images/star-outline.svg');
        background-size: contain;
        cursor: pointer;

        &:before {
            content: "";
            display: block;
            width: 25px;
            height: 25px;
            background: url('/images/star-filled.svg');
            background-size: contain;
            opacity: 0;
            transition: opacity 0.2s linear;
        }
    }

    & > label:hover:before,
    & > label:hover ~ label:before,
    & > :checked ~ label:before{
        opacity : 1;
    }
}

.wpfk--form__prices-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;

    li {
        display: block;
        margin: 15px 5%;
        padding: 0;
        flex: 0 0 20%;
        list-style: none;
    }

    .wpfk--form__price-wide {
        flex: 0 0 80%;
    }

    label {
        font-family: LatoBold, Helvetica, Arial, Sans-serif;
        font-size: em-calc(14);
        display: block;
    }
}

.wpfk--form__opening-container {
    .wpfk--form__opening-day-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;

        li {
            flex: 0 0 20%;
        }
    }

    li {
        display: block;
        margin: 15px 5%;
        padding: 0;
        list-style: none;
    }

    input[type='checkbox'] {
        display: none;

        & + label {
            font-size: em-calc(14);
            cursor: pointer;
            color: #999;
            white-space: nowrap;

            &::selection,
            &::moz-selection {
                color: #999;
                background: transparent;
            }
        }

        & + label::before {
            content: " ";
            display: inline-block;
            vertical-align: middle;
            width: 25px;
            height: 25px;
            background: #f5f5f5 url(/images/tick-white.svg) no-repeat 50% 50%;
            background-size: 10px 10px;
            border: 0 none;
            padding: 0;
            margin: 0 15px 0 0;
            box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.24);
        }

        &:checked + label::before {
            background: #c63e8a url(/images/tick-white.svg) no-repeat 50% 50%;
            background-size: 10px 10px;
        }
    }
}

.wpfk--form__your-details {
    width: 720px;
    margin: 0 auto;
    background: #f5f5f5;

    h2 {
        font-family: FabFeltBold;
        font-weight: normal;
        font-size: em-calc(34);
        color: $brand-purple;
        text-align: center;
        padding: 15px 0;
    }

    input[type='text'],
    input[type='number'],
    input[type='email'] {
        margin: 15px auto;
        background: #fff;
        width: 360px;
    }

    .wpfk--form-input--child {
        margin: 0 auto;
        width: 360px;

        input {
            margin: 0;
            padding: 4%;
            width: 48%;
            display: inline-block;

            & + input {
                float: right;
            }
        }
    }

    .wpfk--form-agree {
        width: 450px;
        margin: 0 auto;
    }
}

.wpfk--form-actions {
    display: block;
}

.wpfk--form__submit-button {
    font-family: LatoBold, Arial, Helvetica, sans-serif;
    font-size: em-calc(18);
    color: #fff;
    background: $brand-purple;
    padding: 20px 40px;
    margin: 15px auto;
    display: block;
    border: 1px solid $brand-purple;
    border-radius: 5px;
    cursor: pointer;
}

a.wpfk--form__submit-button {
    display: inline-block;
    text-decoration: none;
}

.js-enabled {
    .wpfk--form-collapse {
        background: #fff;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin: 15px -15px;
        padding: 15px 15px;

        h3 {
            cursor: pointer;
            margin: 0;

            &:after {
                content: "▼";
                float: right;
            }
        }

        & .wpfk--form-collapse--more {
            max-height: 0;
            overflow: hidden;
            margin: 0;

            -webkit-transition: max-height 0.5s;
            -moz-transition: max-height 0.5s;
            transition: max-height 0.5s;
        }

        &.wpfk--form-collapse--expanded {
            & h3:after {
                content: "▲";
            }

            .wpfk--form-collapse--more {
                max-height: 1000px;
            }
        }
    }
}