$brand-purple: #e53cad;
$brand-orange: #e29f00;
$brand-light-blue: #008dcd;
$brand-dark-blue: #002655;
$brand-turqoise: #2eaaa5;
$brand-grey: #454545;

$page-background-color: #f5f5f5;
$content-background-color: #fff;
$content-foreground-color: #000;

$border-grey: #ddd;

$max-page-width: 1200px;
$max-content-width: 820px;
$grids: 12;
$gutter: 10px;

$base-font-size-px: 16;

$heading-font-size-px: 36;

$subheading-font-size-px: 24;
$subheading-font-colour: $brand-grey;

$nav-link-colour: $brand-grey;
$nav-link-underline: $brand-purple;

$tablet-breakpoint: 800px;

%wide-container {
    max-width: $max-page-width;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

%container {
    max-width: $max-content-width;
    margin: 0 auto;
    text-align: center;
}

%flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;      

    @media (max-width: $tablet-breakpoint) {
        display: block;
    }
}

@mixin flex($flexy) {
    -webkit-flex: $flexy;
    -ms-flex: $flexy;
    flex: $flexy;
}

@function em-calc($pixel-size, $base: $base-font-size-px) {
    @return #{$pixel-size/$base}em;
}

@font-face {
    font-family: LatoBold;
    src:
        url('/fonts/LatoLatin-Bold.woff2') format('woff2'),
        url('/fonts/LatoLatin-Bold.woff') format('woff')
}

@font-face {
    font-family: LatoRegular;
    src:
        url('/fonts/LatoLatin-Regular.woff2') format('woff2'),
        url('/fonts/LatoLatin-Regular.woff') format('woff')
}

@font-face {
    font-family: FabFeltBold;
    src:
        url('/fonts/fabfeltscript-bold.woff2') format('woff2'),
        url('/fonts/fabfeltscript-bold.woff') format('woff')
}

@font-face {
    font-family: PacificoRegular;
    src:
        url('/fonts/Pacifico.ttf') format('truetype');
}

html, body {
    background: $page-background-color;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-size: #{$base-font-size-px + 'px'};
    font-family: LatoRegular, Helvetica, Arial, sans-serif;
}

input[type='number'] {
    background: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 15px 20px;
    font-family: LatoRegular, Helvetica, Arial, sans-serif;
    font-size: em-calc(16);
    display: block;
    box-sizing: border-box;
    width: 100%;
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

article[role='main'] {
    width: 100%;
    margin: 0 auto;
}

.alert {
    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &.alert-danger li {
        color: red;
    }
}

.wpfk--coming-soon {
    @extend %container;
}

.wpfk--recommend-link {
    position: absolute;
    top: 5%;
    right: 2%;
    font-family: LatoBold, Arial, Helvetica, sans-serif;
    font-size: em-calc(14);
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.2em;
    background: $brand-purple;
    border: 1px solid $brand-purple;
    border-radius: 2px;
    padding: 1% 2%;

    &:hover,
    &:focus,
    &:active {
        background: #fff;
        color: $brand-purple;
        transition: 0.2s background;
    }

    @media (max-width: $tablet-breakpoint) {
        position: static;
        display: block;
        margin-top: -20px;
        border-radius: 0;
    }
}

.wpfk--site-header {
    @extend %container;
    margin-top: 20px;
}

.wpfk--messages {
    width: 100%;
    text-align: center;

    @media (max-width: $tablet-breakpoint) {
        position: static;
    }

    div {
        text-align: center;
        width: 100%;
        padding: 5px 0;

        p, h4, li {
            color: #fff !important;
        }

        &.alert-success {
            background: $brand-turqoise !important;
        }

        &.alert-danger {
            background: #f00 !important;
        }
    }
}

.wpfk--content-box {
    @extend %container;
    background: $content-background-color;
    padding: 15px 40px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.2);
    text-align: left;

    &.floating {
        margin-bottom: 40px;
    }
}

.wpfk--wide-container {
    @extend %wide-container;
}

h1 {
    font-family: LatoBold, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: em-calc($heading-font-size-px);
    color: $brand-turqoise;
    margin: 1% 0;
}

h2 {
    font-family: LatoBold, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: em-calc($subheading-font-size-px);
    color: $subheading-font-colour;
}

p {
    font-family: LatoRegular, Helvetica, Arial, sans-serif;
    font-size: em-calc(16);
    color: $content-foreground-color;
}

textarea,
input[type='text'],
input[type='email'],
input[type='number'],
input[type='url'],
input[type='tel'] {
    background: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 15px 20px;
    margin: 1% 0;
    font-family: LatoRegular, Helvetica, Arial, sans-serif;
    font-size: em-calc(16);
    display: block;
    box-sizing: border-box;
    width: 100%;
}

textarea:focus,
input[type='text']:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='url']:focus,
input[type='tel']:focus {
    font-size: em-calc(16);
    background: #f5f5f5;
}

fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
    display: block;
}

.wpfk--site-nav {
    @extend %container;
    font-family: LatoBold, Helvetica, Arial, Sans-Serif;
    font-size: em-calc(16px);

    ul {
        position: relative;
        display: block;
        width: 100%;
        list-style: none;
        margin: 0 0 20px 0;
        padding: 0;
        top: -30px;

        @media (max-width: $tablet-breakpoint) {
            top: 0;
        }
    }

    li {
        width: 40%;
        display: inline-block;
        margin: 0;
        padding: 0;

        &:first-child,
        &:last-child {
            width: 5%;

            @media (max-width: $tablet-breakpoint) {
                width: auto;
            }
        }

        @media (max-width: $tablet-breakpoint) {
            width: 100%;
            text-align: center;
            padding: 3% 0;
        }
    }

    a {
        color: $nav-link-colour;
        text-transform: uppercase;
        text-decoration: none;
        padding-bottom: 5px;
        letter-spacing: 0.2em;

        &.selected,
        &:hover,
        &:active,
        &:focus {
            border-bottom: 2px solid $nav-link-underline;
        }
    }
}

.wpfk--hero-image {
    width: 100%;
    margin: 0 auto;
}

.wpfk--form-intro {
    @extend %container;
    max-width: 580px;
    padding: 0 10%;
}

.wpfk--site-description {
    @extend %container;
    max-width: 780px;

    p {
        font-family: LatoRegular, Arial, Helvetica, sans-serif;
        font-size: em-calc(20);
        line-height: em-calc(36);
    }
}

.wpfk--discover-box {
    @extend %container;
    max-width: 100%;
    margin: 5% 0;

    h1 {
        font-family: LatoRegular, Arial, Helvetica, sans-serif;
        font-size: em-calc(32);
        color: $content-foreground-color;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }

    .wpfk--discover-image-boxes {
        display: block;
        width: 100%;
        padding: 5% 0;
    }
}

.wpfk--overlayed-image {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 25%;
    margin: 0 2%;
    padding: 0;

    @media (max-width: $tablet-breakpoint) {
        display: block;
        margin: 2% auto;
        width: 80%;
        height: 80%;
    }

    img {
        width: 100%;
        height: 100%;
    }

    a {
        display: block;
        position: absolute;
        padding-top: 35%;
        box-sizing: border-box;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-family: PacificoRegular, Arial, Helvetica, sans-serif;
        font-size: em-calc(42);
        color: $content-background-color;
        text-align: center;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            background: rgba($brand-turqoise, 0.8);
            transition: 0.2s background;
        }
    }
}

.wpfk--button-link {
    font-family: LatoBold, Arial, Helvetica, sans-serif;
    font-size: em-calc(14);
    text-decoration: none;
    text-transform: uppercase;
    color: $brand-turqoise;
    letter-spacing: 0.2em;
    border: 1px solid $brand-turqoise;
    border-radius: 2px;
    padding: 1% 2%;

    &:hover,
    &:focus,
    &:active {
        background: $brand-turqoise;
        color: #fff;
        transition: 0.2s background;
    }
}

.wpfk--footer {
    background: $brand-turqoise;


    .wpfk--footer-container {
        @extend %container;
        max-width: 1200px;
        padding: 5% 0;

        img {
            display: inline-block;
            margin-top: -2%;
        }

        section {
            display: inline-block;
            width: 25%;
            vertical-align: top;
            padding: 0 0 0 10%;

            @media (max-width: $tablet-breakpoint) {
                display: block;
                width: 80%;
            }

	    &.wpfk--footer-logo-copyright {
                display: inline-block;
                width: 25%;
		padding: 0;

                @media (max-width: $tablet-breakpoint) {
                    display: block;
                    width: 80%;
                }

            }
                .wpfk--copyright {
                    padding-left: 67px;
                    font-size: em-calc(10);
                }

            h1 {
                font-family: LatoBold, Arial, Helvetica, sans-serif;
                font-size: em-calc(14);
                text-transform: uppercase;
                letter-spacing: 0.2em;
                color: #fff;
                text-align: left;
            }

            p, li, a {
                font-family: LatoRegular, Arial, Helvetica, sans-serif;
                font-size: em-calc(14);
                color: rgba(#fff, 0.7);
                text-align: left;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                text-align: left;

                a {
                    text-decoration: none;
                }
            }

            input[type='email'] {
                width: 70%;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                display: inline-block;
            }

            input[type='submit'] {
                width: 30%;
                box-sizing: border-box;
                background: #f5f5f5;
                border-radius: 5px;
                border: 1px solid #ddd;
                padding: 15px 20px;
                margin: 1% 0;
                font-family: LatoRegular, Helvetica, Arial, sans-serif;
                font-size: em-calc(16);
                display: inline-block;
                box-sizing: border-box;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

.wpfk--form-thank-you {

    h1 {
        font-size: em-calc(30);
        color: #454545;
    }
}

.venueSearch {
    position: relative;

    input[type="text"] {
        background: #f5f5f5 url(/images/powered_by_google_on_white_hdpi.png) no-repeat 97% 50%;
        background-size: 144px 18px;
        outline: none;

        @media (max-width: $tablet-breakpoint) {
            padding-bottom: 10%;
            background-position: 97% 80%;
        }
    }

    .venueResults {
        position: absolute;
        top: 51px;
        padding: 0;
        margin: 0;
        font-family: LatoRegular, Helvetica, Arial, sans-serif;
        font-size: em-calc(16);
        display: none;
        box-sizing: border-box;
        width: 100%;
        list-style: none;

        li {
            margin: 0;
            padding: 15px 20px;
            background: #f5f5f5;
            border-color: #ddd;
            border-style: solid;
            border-width: 0 1px 0 1px;
            color: #666;
            display: block;
            cursor: pointer;

            &:hover,
            &:focus {
                background: $brand-purple;
                color: #fff;
                outline: none;
            }

            &:first-child {
                border-radius: 5px 5px 0 0;
                border-top-width: 1px;
            }

            &:last-child {
                border-radius: 0 0 5px 5px;
                border-bottom-width: 1px;
            }
        }
    }
}

.wpfk--form__checkbox-container {
    display : flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0;
    padding: 0;

    li {
        display: block;
        margin: 15px 0;
        padding: 0;
        flex: 0 0 33%;
        min-width: 33%;
        list-style: none;

        @media (max-width: $tablet-breakpoint) {
            flex: 0 0 100%;
        }
    }

    input[type='checkbox'] {
        display: none;

        & + label {
            font-size: em-calc(14);
            cursor: pointer;
            color: #999;

            &::selection,
            &::moz-selection {
                color: #999;
                background: transparent;
            }
        }

        & + label::before {
            content: " ";
            display: inline-block;
            vertical-align: middle;
            width: 25px;
            height: 25px;
            background: #f5f5f5 url(/images/tick-white.svg) no-repeat 50% 50%;
            background-size: 10px 10px;
            border: 0 none;
            padding: 0;
            margin: 0 15px 0 0;
            box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.24);
        }

        &:checked + label::before {
            background: #c63e8a url(/images/tick-white.svg) no-repeat 50% 50%;
            background-size: 10px 10px;
        }
    }
}

.wpfk--form__checkbox-container-linear {
    display : block;
    margin: 0;
    padding: 0;

    li {
        display: block;
        margin: 15px 0;
        padding: 0;
        list-style: none;
    }

    input[type='checkbox'] {
        display: none;

        & + label {
            font-size: em-calc(14);
            cursor: pointer;
            color: #999;

            &::selection,
            &::moz-selection {
                color: #999;
                background: transparent;
            }
        }

        & + label::before {
            content: " ";
            display: inline-block;
            vertical-align: middle;
            width: 25px;
            height: 25px;
            background: #f5f5f5 url(/images/tick-white.svg) no-repeat 50% 50%;
            background-size: 10px 10px;
            border: 0 none;
            padding: 0;
            margin: 0 15px 0 0;
            box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.24);
        }

        &:checked + label::before {
            background: #c63e8a url(/images/tick-white.svg) no-repeat 50% 50%;
            background-size: 10px 10px;
        }
    }
}

.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.wpfk--form__rating-container:not(old) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: 25px;
    overflow: hidden;

    & > input[type='radio'] {
        position: absolute;
        left: -9999px;
        opacity: 0;
    }

    & > label {
        display: block;
        flex: 0 0 25px;
        margin: 0 16px 0 0;
        background: url('/images/star-outline.svg');
        background-size: contain;
        cursor: pointer;

        &:before {
            content: "";
            display: block;
            width: 25px;
            height: 25px;
            background: url('/images/star-filled.svg');
            background-size: contain;
            opacity: 0;
            transition: opacity 0.2s linear;
        }
    }

    & > label:hover:before,
    & > label:hover ~ label:before,
    & > :checked ~ label:before{
        opacity : 1;
    }
}

.wpfk--form__prices-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;

    li {
        display: block;
        margin: 15px 5%;
        padding: 0;
        flex: 0 0 20%;
        list-style: none;
    }

    .wpfk--form__price-wide {
        flex: 0 0 80%;
    }

    label {
        font-family: LatoBold, Helvetica, Arial, Sans-serif;
        font-size: em-calc(14);
        display: block;
    }
}

.wpfk--form__opening-container {
    margin: 0;
    padding: 0;

    .wpfk--form__opening-day-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;

        li {
            flex: 0 0 20%;

            @media (max-width: $tablet-breakpoint) {
                flex: 0 0 30%
            }
        }
    }

    li {
        display: block;
        margin: 15px 5%;
        padding: 0;
        list-style: none;

        @media (max-width: $tablet-breakpoint) {
            margin: 15px 1%;
        }
    }

    input[type='checkbox'] {
        display: none;

        & + label {
            font-size: em-calc(14);
            cursor: pointer;
            color: #999;
            white-space: nowrap;

            @media (max-width: $tablet-breakpoint) {
                white-space: normal;
            }

            &::selection,
            &::moz-selection {
                color: #999;
                background: transparent;
            }
        }

        & + label::before {
            content: " ";
            display: inline-block;
            vertical-align: middle;
            width: 25px;
            height: 25px;
            background: #f5f5f5 url(/images/tick-white.svg) no-repeat 50% 50%;
            background-size: 10px 10px;
            border: 0 none;
            padding: 0;
            margin: 0 15px 0 0;
            box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.24);

            @media (max-width: $tablet-breakpoint) {
                display: block;
            }
        }

        &:checked + label::before {
            background: #c63e8a url(/images/tick-white.svg) no-repeat 50% 50%;
            background-size: 10px 10px;
        }
    }
}

.wpfk--form__your-details {
    margin: 0 auto;
    padding: 0 20px;
    background: #f5f5f5;

    h2 {
        font-family: FabFeltBold;
        font-weight: normal;
        font-size: em-calc(34);
        color: $brand-purple;
        text-align: center;
        padding: 15px 0;
    }

    input[type='text'],
    input[type='number'],
    input[type='email'] {
        margin: 15px auto;
        background: #fff;
    }

    .wpfk--form-input--child {
        margin: 0 auto;

        input {
            margin: 0;
            padding: 15px 4%;
            width: 48%;
            display: inline-block;

            & + input {
                float: right;
            }
        }
    }

    .wpfk--form-agree {
        margin: 0 auto;
        max-width: 480px;

        li {
            flex: none;
            width: 100%;

            @media (max-width: $tablet-breakpoint) {
                text-align: right;
            }
        }

        label {
            overflow: hidden;
            white-space: normal;
        }
    }
}

.wpfk--form-actions {
    display: block;
}

.wpfk--form__submit-button {
    font-family: LatoBold, Arial, Helvetica, sans-serif;
    font-size: em-calc(18);
    color: #fff;
    background: $brand-purple;
    padding: 20px 40px;
    margin: 15px auto;
    display: block;
    border: 1px solid $brand-purple;
    border-radius: 5px;
    cursor: pointer;
}

a.wpfk--form__submit-button {
    display: inline-block;
    text-decoration: none;
}

.js-enabled {
    .wpfk--form-collapse {
        background: #fff;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin: 15px -15px;
        padding: 15px 15px;

        h3 {
            cursor: pointer;
            margin: 0;

            &:before {
                content: "▼";
                float: right;
                text-align: right;
                vertical-align: top;
            }
        }

        & .wpfk--form-collapse--more {
            max-height: 0;
            overflow: hidden;
            margin: 0;

            -webkit-transition: max-height 0.5s;
            -moz-transition: max-height 0.5s;
            transition: max-height 0.5s;
        }

        &.wpfk--form-collapse--expanded {
            & h3:before {
                content: "▲";
            }

            .wpfk--form-collapse--more {
                max-height: 1000px;
            }
        }
    }

    .wpfk--filter-collapse {
        background: #fff;
        border-radius: 5px;
        padding: 15px 0;
        position: relative;

        h2 {
            cursor: pointer;
            margin: 0 0 0 15px;
        }

        &:after {
                font-family: LatoRegular, Arial, Helvetica, sans-serif;
                font-size: em-calc(16);
                content: ">" !important;
                transform: scale(1.5,1) rotate(90deg);
                color: $brand-purple;
                position: absolute;
                left: 0;
                top: 15px;
            }

        & .wpfk--form-collapse--more {
            max-height: 0;
            overflow: hidden;
            margin: 0;

            -webkit-transition: max-height 0.5s;
            -moz-transition: max-height 0.5s;
            transition: max-height 0.5s;
        }

        &.wpfk--form-collapse--expanded {
            &:after {
                content: "<" !important;
            }

            .wpfk--form-collapse--more {
                max-height: 1000px;
            }
        }
    }
}

.wpfk--custom-select {
	border: 1px solid $border-grey;
	border-radius: .3em;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	background: #f3f3f3; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
    font-family: LatoBold, Arial, Helvetica, sans-serif;
    font-size: em-calc(16);

    & select {
        font-family: LatoBold, Arial, Helvetica, sans-serif;
        font-size: em-calc(16);
    }

    &:after {
        font-family: LatoRegular, Arial, Helvetica, sans-serif;
        font-size: em-calc(16);
        content: ">" !important;
        transform: scale(1.5,1) rotate(90deg);
        color: $brand-purple;
        margin: -8px -5px 0 0;
        /*width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 7px solid $brand-purple;
        margin-top: -3px;*/
    }
    &:hover {
        border-color: #888;
    }

    & select:focus {
        outline: none;
        box-shadow: 0 0 1px 3px rgba(180,222,250, 1);
        color: #222; /* Match-02 focus color */
    }
}

input[type='text'].wpfk--inline-input,
section.wpfk--inline-input {
    display: inline-block;
    border-radius: 0;
    width: 25%;
    margin: 0;
    max-height: 41px;
    box-shadow: none;
    vertical-align: top;

    &--narrow {
        width: 10%;
    }
}

button.wpfk--inline-input {
    width: 18%;
    font-size: em-calc(16);
    display:inline-block;
    padding: 10px 10px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    max-height:41px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    vertical-align: top;
    margin: 0;
    font-family: LatoRegular, Arial, Helvetica, sans-serif;
}

input[type='text'].wpfk--inline-input,
section.wpfk--inline-input select,
section.wpfk--inline-input select:focus,
section.wpfk--inline-input select:active {
    font-family: LatoRegular, Helvetica, Arial, sans-serif;
    font-size: em-calc(16);
    color: #aaa;
}

.wpfk--home-search-bar {
    width: 100%;
    text-align: center;

    & section.wpfk--inline-input:first-child {
        border-top-left-radius: .3em;
        border-bottom-left-radius: .3em;
    }

    & button:last-child {
        border-top-right-radius: .3em;
        border-bottom-right-radius: .3em;
    }

    & input[type='text'].wpfk--inline-input,
    & section.wpfk--inline-input,
    & button:last-child {
        @media (max-width: $tablet-breakpoint) {
            display: block;
            width: 100%;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            margin: 0.5em 0;
        }    
    }
}

.wpfk--search-header {
    background: $brand-turqoise;
    min-height: 80px;
    width: 100%;
    padding: 50px 0 0 0;

    @media (max-width: $tablet-breakpoint) {
        padding: 2% 0;
        min-height: 0;
    }

    h1 {
        padding: 0 2%;
        font-family: LatoRegular, Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: em-calc(32);
        color: #fff;
    }

    .wpfk--custom-select {
        width: 180px;
        position: absolute;
        top: 0;
        right: 0;

        @media (max-width: $tablet-breakpoint) {
            position: relative;
            width: 96%;
            margin: 2%;
        }
    }
}

.wpfk--search {
    @extend %wide-container;
    @extend %flex-container;
}

.wpfk--search-filters {    
    @include flex(1 0 25%);
    background: #fff;
    padding: 2%;
    box-sizing: border-box;

    @media (max-width: $tablet-breakpoint) {
        display: block;
        width: 96%;
        margin: 0 2%;
    }

    h1 {
        font-family: LatoBold, Arial, Helvetica, sans-serif;
        font-size: em-calc(20);
        color: $brand-grey;
    }

    h2 {
        font-family: LatoBold, Arial, Helvetica, sans-serif;
        font-size: em-calc(14);
        color: $brand-grey;
    }

    .wpfk--input-location {
        margin: 15px 0 0;
    }
}

.wpfk--search-results {
    @include flex(3 0 73%);
    position: relative;
    margin-left: 2%;
    box-sizing: border-box;

    @media (max-width: $tablet-breakpoint) {
        display: block;
        width: 96%;
    }

    &--sort {
        position: absolute;
        top: 0;
        right: 0;

        .wpfk--custom-select {
            display: inline-block;
            vertical-align: middle;
            background: none;
        }

        @media (max-width: $tablet-breakpoint) {
            position: static;
            margin: 2% 0;
        }
    }

    & .addedByWPFK {
        width: 64px;
        height: 71px;
        background: url(/images/added-by-wpfk.png) no-repeat top left;
        position: absolute;
        top: -10px;
        right: 30px;
    }


    .wpfk--search-result {
        background: #fff;
        margin: 0 0 20px 0;
        position: relative;

        .wpfk--search-summary-readmore a {
            color: $brand-dark-blue;
            font-size: em-calc(14);
            text-transform: uppercase;
            font-weight: 600;

            &:hover {
                text-transform: underline;
            }
        }

        &.premium {
            background: $brand-turqoise;

            .wpfk--search-summary-readmore a {
                color: $brand-dark-blue;
                font-size: em-calc(14);
                text-transform: uppercase;
                font-weight: 600;

                &:hover {
                    text-transform: underline;
                }
            }
        }

        .wpfk--read-more {
            color: $brand-purple;
            display: block;
        }
        
        &__image {
            display: inline-block;
            vertical-align: top;
            width: 47%;

            @media (max-width: $tablet-breakpoint) {
                display: block;
                width: 100%;
            }

            img {
                display: block;
                width: 100%;
                height: 314px;
                object-fit: cover;
            }

            p { 
                background: $brand-turqoise;
                padding: 20px;
                color: #fff;
                text-transform: uppercase;
                margin: 0;
            }
        }

        &.premium .wpfk--search-result__image img {
            height: 371px;
        }

        a {
            text-decoration: none;
            color: #000;
        }

        &.premium a,
        &.premium p,
        &.premium h1 {
            color: #fff;
        }

        &__details {
            display: inline-block;
            vertical-align: top;
            width: 48%;
            padding: 18px 2%;
            overflow: hidden;

            @media (max-width: $tablet-breakpoint) {
                display: block;
                width: 96%;
		        height: auto;
            }

            h1 {
                font-family: LatoRegular, Arial, Helvetica, sans-serif;
                font-size: em-calc(22);
                font-weight: normal;
                width: 80%;
                color: $brand-grey;
            }

            .wpfk--search-rating {
                img, span {
                    vertical-align: middle;
                }
            }

            .wpfk--search-price {
                font-weight: bold;
                color: #000;
            }

            .wpfk--search-result__opening-times {
                font-family: LatoRegular, Arial, Helvetica, sans-serif;
                font-size: em-calc(14);
                color: $brand-turqoise;
                font-weight: bold;
            }
        }

        &.premium .wpfk--search-result__opening-times {
            color: $brand-dark-blue;
        }

        &.premium .wpfk--search-result__promo {
            background: #fff;
            color: $brand-dark-blue;
            padding: 1%;
            position: absolute;
            bottom: 6%;
            right: 3%;
            width: 46%;

            @media (max-width: $tablet-breakpoint) {
                position: static;
                display: block;
                width: 96%;
		        height: auto;
            }

            p {
                margin: 0 0 0 1%;
                color: $brand-dark-blue;;
                display: inline;
            }
        }
    }
}

.wpfk--search-nav {
    position: relative;

    &-overlay {
        display: none;
        position: absolute;
        top: 0;
        right: -35px;
        padding-top: 25px;
        z-index: 999;

        @media (max-width: $tablet-breakpoint) {
            top: 1em;
            right: auto;
            left: -150%;
        }
    }

    form {
        background: $brand-orange;
        padding: 15px;        
    }

    a {
        cursor: pointer;
    }

    input {
        width: 200px;

        @media (max-width: $tablet-breakpoint) {
            width: 300px;
        }
    }

    a:focus + &-overlay,    
    a:hover + &-overlay,
    a:active + &-overlay,
    a + &-overlay:hover,
    a + &-overlay:focus,
    a + &-overlay:active {
        display: block;
    }

    @media (max-width: $tablet-breakpoint) {
	a:active + &-overlay,
	a + &overlay:active {
            display: block;
        }
    }
}

.wpfk--home-content {
    @extend %wide-container;
    top: -93px;
    position: relative;
    background: #fff;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.14);
    padding: 38px;
    box-sizing: border-box;
    text-align: left;

    @media (max-width: $tablet-breakpoint) {
        position: static;
    }
}

.wpfk--venue-header {
    @extend %wide-container;
    max-width: none;

    h1 {
        width: 100%;
        height: 100%;
        font-family: LatoBold, Arial, Helvetica, sans-serif;
        font-size: em-calc(60);
        color: #fff;
        vertical-align: middle;
        text-align: center;
        position: absolute;
        top: 30%;

        @media (max-width: $tablet-breakpoint) {
            font-size: em-calc(40);
        }
    }

    img {
        display: block;
        max-width: 100%;
        height: 421px;
        object-fit: cover;
    }

    div[data-tns-role="nav"] {
        position: absolute;
        width: 100%;
        bottom: 100px;
        text-align: center;
    }

    button[data-nav] {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 0 5px;
        border-radius: 50%;
        background: #999;
        opacity: 0.6;
    }

    button[aria-selected="true"] {
        background: #fff;
    }

    button[data-action="stop"] {
        display: none;
    }
}

.wpfk--venue-content {
    @extend %container;
    top: -93px;
    position: relative;
    background: #fff;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.14);
    padding: 38px;
    box-sizing: border-box;
    text-align: left;

    @media (max-width: $tablet-breakpoint) {
        position: static;
    }

    h1 {
        font-family: LatoBold, Arial, Helvetica, sans-serif;
        font-size: em-calc(30);
        font-weight: normal;
        color: $brand-grey;
    }

    .wpfk--search-result__opening-times {
        font-family: LatoRegular, Arial, Helvetica, sans-serif;
        font-size: em-calc(14);
        color: $brand-turqoise;
        font-weight: bold;
    }

    .wpfk--venue-description {
        background: #f5f5f5;
        padding: 1em;
    }

    .wpfk--venue-activity-ticks {
        list-style: none;
        margin: 0;
        padding: 0;

        @media (max-width: $tablet-breakpoint) {
            text-align:left;
            margin: 0;
            padding: 0 0.5em;
        }

        .wpfk--venue-activity-tick {
            display: inline-block;
            width: 40%;
            position: relative;
            text-align: left;
            padding: 0.5em 1.5em;

            @media (max-width: $tablet-breakpoint) {
                width: 100%;
            }

            &:before {
                position: absolute;
                left: -5px;
                content: " ";
                width: 25px;
                height: 25px;
                background: url(/images/tick-blue.svg) no-repeat 50% 50%;
                background-size: 10px 10px;
            }
        }

        .wpfk--venue-activity-notick {
            display: inline-block;
            width: 100%;
            position: relative;
            text-align: left;
            padding: 0.5em 1em;
            margin-left: 1em;

            &:before {
                position: absolute;
                left: -15px;
                content: "•";
                width: 25px;
                height: 25px;

                @media (max-width: $tablet-breakpoint) {
                    left: 0;
                }
            }
        }
    }

    .wpfk--venue-section {
        width: 100%;
        margin: 5% 0 0;
        padding: 5% 0 0;
        border-top: 1px solid $border-grey; 

        h1 {
            font-family: LatoBold, Arial, Helvetica, sans-serif;
            font-size: em-calc(22);
            color: $brand-grey;
            margin: 0;
        }
    }

    .wpfk--venue-details-list {
        width: 40%;
        margin: 5%;
        padding: 0;
        display: inline-block;
        vertical-align: top;

        @media (max-width: $tablet-breakpoint) {
            width: 100%;
            margin: 5% 0;
        }

        dd, dt {
            width: 48%;
            display: inline-block;
            vertical-align: top;
            margin: 0 0 5%;
            padding: 0;
            font-family: LatoRegular, Arial, Helvetica, sans-serif;

            @media (max-width: $tablet-breakpoint) {
                width: 100%;
            }
        }

        dt {
            font-weight: bold;
            font-family: LatoBold, Arial, Helvetica, sans-serif;
        }
    }

    .wpfk--venue-map {
        margin: 5%;
        width: 265px;
        height: 265px;
        display: inline-block;
        vertical-align: top;

        #gmap_canvas {
            @media (max-width: $tablet-breakpoint) {
                width: 100% !important;
                margin: 5% 0;
            }
        }

        @media (max-width: $tablet-breakpoint) {
            width: 100%;
            margin: 5% 0;
        }
    }
}

.wpfk--venue-content.wpfk--premium-venue {
    @extend %wide-container;
    max-width: 1160px;

    .stars {
        white-space: nowrap;
    }

    .wpfk--venue-section {
        margin-top: 3%;
        padding-top: 3%;

        h1 {
            margin: 0 0 1em;
        }

        a {
            color: $brand-purple;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .wpfk--venue-review-section {
        width: 75%;
    }

    h1 {
        margin: 0;
        color: $brand-turqoise;
        font-weight: normal;
    }

    .wpfk--premium-website-link {
        position: absolute;
        top: 38px;
        right: 38px;
        font-family: LatoBold, Arial, Helvetica, sans-serif;
        font-size: em-calc(14);
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 0.2em;
        background: $brand-purple;
        border: 1px solid $brand-purple;
        border-radius: 2px;
        padding: 1% 2%;

        @media (max-width: $tablet-breakpoint) {
            position: static;
            display: block;
            margin: 2% 0;
        }

        &:hover,
        &:focus,
        &:active {
            background: #fff;
            color: $brand-purple;
            transition: 0.2s background;
        }
    }

    .wpfk--venue-activity-ticks {
        padding-left: 0;

        .wpfk--venue-activity-tick {
            width: 20%;
            font-size: em-calc(14);
        }

        .wpfk--venue-activity-tick:before {
            position: absolute;
            content: " ";
            transform: scale(1.4,1.4);
            width: 25px;
            height: 25px;
            background: url(/images/tick-blue-large.svg) no-repeat 50% 40%;
            background-size: 10px 10px;
        }

        .wpfk--venue-activity-notick {
            font-size: em-calc(14);
            padding: 0.5em 0;
            margin: 0;

            &:before {
                display: none;
            }

            .wpfk--venue-kv {
                &-key {
                    display: inline-block;
                    width: 23%;
                    font-weight: bold;

                    @media (max-width: $tablet-breakpoint) {
                        width: 40%;
                    }
                }

                &-value {
                    display: inline-block;
                    width: 23%;

                    @media (max-width: $tablet-breakpoint) {
                        width: 40%;
                    }
                }
            }
        }
    }

    .wpfk--premium-suitable,
    .wpfk--search-result__opening-times {
        display: inline-block;
        margin-top: 8px;
        padding-right: 20px;
        font-size: em-calc(16);
    }

    .wpfk--venue-premium-nav {
        width: 100%;
        display: block;

        @media (max-width: $tablet-breakpoint) {
            display: none;
        }

        ol {
            list-style: none;
            margin: 0;
            padding: 0;
            display: -webkit-flex;
            display: flex;

            li {
                flex: 1 0;
                text-align: center;
                padding: 0;
                margin: 0;
                white-space: nowrap;

                &:first-child a {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }

                &:last-child a {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    border-width: 1px;
                }
            }

            a {
                background: $page-background-color;
                color: $brand-grey;
                padding: 16px 0;
                display: block;
                text-decoration: none;
                border: 0 solid $border-grey;
                border-width: 1px 0 1px 1px;
                position: relative;

                &:after {
                    font-family: LatoRegular, Arial, Helvetica, sans-serif;
                    font-size: em-calc(20);
                    content: ">" !important;
                    color: $brand-purple;
                    position: relative;
                    right: -10px;
                    top: 1px;
                }
            }
        }
    }

    .wpfk--venue-premium-content {
        display: flex;
        justify-content: stretch;

        @media (max-width: $tablet-breakpoint) {
            display: block;
        }
    }

    .wpfk--venue-description {
        background: none;
        flex: 2 0;
        text-align: left;
        vertical-align: top;
        padding: 1em 0;
        font-size: em-calc(14);
    }

    .wpfk--venue-premium-sidebar {
        width: 30%;
        text-align: right;
        flex: 1 0;
        padding-left: 30px;

        @media (max-width: $tablet-breakpoint) {
            padding-left: 0;
            width: 100%;
        }
    }

    .wpfk--venue-promo {
        margin-top: 2em;
        background: $brand-turqoise;
        text-align: left;
        padding: 10px;
        vertical-align: top;

        h1, p, li {
            color: #fff;
        }

        h1 {
            font-family: LatoBold, Arial, Helvetica, sans-serif;
            font-size: em-calc(14);
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 0.2em;
            margin-bottom: 0;
        }

        p {
            font-size: em-calc(14);
            margin: 1em 0 0;
        }
    }

    .wpfk--venue-review-spotlight {
        margin: 1em 0;
        text-align: left;
        background: $page-background-color;
        padding: 10px;
        font-size: em-calc(14);
    }

    .wpfk--venue-activity {
        margin-top: 1em;
        border-top: 1px solid $border-grey;
    }

    .wpfk--venue-map {
        margin: 2% 0 0 0;
        width: 100%;
        height: 350px;
        display: block;

        #gmap_canvas {
            @media (max-width: $tablet-breakpoint) {
                width: 100% !important;
            }
        }

        @media (max-width: $tablet-breakpoint) {
            width: 100%;
        }
    }

    .wpfk--premium-tier-column {
        display: inline-block;
        width: 48%;
        vertical-align: top;

        @media (max-width: $tablet-breakpoint) {
            width: 100%;
            margin-top: 2%;
            display: block;
        }

        h1 {
            font-size: em-calc(16);
            color: $brand-grey;
        }
    }
}

.wpfk--about-header {
    background: $brand-turqoise;
    min-height: 80px;
    width: 100%;
    padding: 50px 0 0 0;
}

.wpfk--about-content {
    @extend %container;
    text-align: left;
    
    h1 {
        font-weight: bold;
        font-family: LatoBold, Arial, Helvetica, sans-serif;
        font-size: em-calc(26);
        color: #404040;
        margin: 10% 0 5% 0;
    }

    h2 {
        font-weight: bold;
        font-family: LatoBold, Arial, Helvetica, sans-serif;
        font-size: em-calc(20);
        color: #404040; 
        margin: 8% 0 5% 0;
    }
    
    p {
        line-height: em-calc(32);
        margin: 5% 0;
    }

    a {
        &:link,
        &:visited {
            color: $brand-purple;
            text-decoration: none;
            font-weight: bold;
        }

        &:hover,
        &:active {
            text-decoration: underline;
        }
    }
}

.wpfk--review-header {
    p {
        font-size: em-calc(14);
        color: #9a9a9a;

        strong {
            color: $brand-grey;
        }
    }
}

.wpfk--review-form {
    .wpfk--review-section {
        p {
            width: 40%;
            padding-left: 18%;
            display: inline-block;

            &:first-child {
                padding-left: 0;
            }

            @media (max-width: $tablet-breakpoint) {
                padding: 0;
                width: 100%;
            }
        }
    }

    .wpfk--form__rating {
        display: flex;
        justify-content: flex-start;
        vertical-align: middle;

        h3 {
            width: 20%;
            margin: 3% 0;
        }

        .wpfk--form__rating-container {
            padding-left: 1%;
            margin: 3% 0;
        }
    }

    .wpfk--more-children {
            display: none;
        }

        .wpfk--add-more-children {
            p {
                text-align: right;
                width: 100%;
            }
            
            a {
                color: $brand-purple;
            }
        }
}
